/* General */
body {
    padding: 0;
    margin: 0; 
    
    width: 80%;
    position: relative;
    
    top: 0%;
    left: 50%;
    
    /* shifts or translate the center point (X, Y) by (X - 50% of outerWidth, Y - 50% of outerHeight) */
    transform: translate(-50%, 0%);
    
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* End of General */

/* Home Page */
.home-page {
    height: 100vh;
}

.home-page_upper-info {
    margin-top: 60px;
    
    position: relative;
    top: 0%;
    left: 50%;
    
    /* shifts or translate the center point (X, Y) by (X - 50% of outerWidth, Y - 50% of outerHeight) */
    transform: translate(-50%, 0%);
} 

#my-pic {
    width: 50px;
}

#icons {
    float: right;
    margin-top: 14px;
}

.fa-brands {
    font-size: 22px;
    color: #207de9;
}

.fa-linkedin-in {
    margin-right: 15px;
}

.home-page_main-info {
    position: relative;
    top: 37%;
    left: 0%;
    
    /* shifts or translate the center point (X, Y) by (X - 50% of outerWidth, Y - 50% of outerHeight) */
    transform: translate(0%, -37%);
}

#info_welcome {
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin: 0;
}

.info_description {
    font-size: 22px;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 150;

    margin-top: 5px;
}
 
#bottom_line {
    margin-top: -15px;
}

.main-btn {
    color: #ffffff;
    background-color: #207de9;
    
    width: 219px;
    height: 48px;
    
    border-radius: 5px;
}

.main-btn_container {
    position: absolute;
    margin: 0;
    
    width: 219px;
    height: 48px;

    text-decoration: none;
}

.main-btn_icon { 
    float: left;
    height: 22px;
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 15px;
}

.main-btn_text {
    color: white;
    font-size: 1.3em;

    margin-top: 12px;
}  

.main-btn:hover {
    cursor: pointer;
    background-color: rgb(132, 182, 167);
} 
 
.fa-solid {
    position: relative;
    top: 61%;
    left: 50%;

    /* shifts or translate the center point (X, Y) by (X - 50% of outerWidth, Y - 50% of outerHeight) */
    transform: translate(-50%, -61%);

    font-size: 25px;
}
/* End of Home Page */

/* Experience Page */ 
.title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 3em;
    margin: 0;
}

.description {
    width: 65%;
    font-size: 1.5em;
    font-weight: 150;
    margin-top: 10px;
}

.experience-page_item p {
    font-weight: 300;
}

.item_icon {
    width: 20px;
    float: left;
    margin-right: 5px;
}

.item-title {
    font-size: 16px;
}

.item-inner {
    margin-top: -5px;
}

.item-date {
    float: left;
    margin: 0;
    margin-right: 5px;

    background-color: #ededed;
    padding: 3px 10px;
    border-radius: 7px;

    /* padding: 0.25em 0.5em; */
    border-radius: 5px;
    margin-right: 0.5em;

    font-size: 11px; 

    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.item-description {
    font-size: 14px;
    margin: 0;
}

.experience-page_item {
    margin-bottom: 40px;
}
 

#resume-btn {
    width: 165px;
    height: 43px;
    margin-bottom: 100px;
}

#resume-btn_container {
    width: 165px;
    height: 43px;
}

#arrow { 
    margin-left: 10px;
    margin-top: 12px;
}

#resume-btn_text {
    margin-top: 9.4px;
}  

#resume-btn:hover {
    cursor: pointer;
    background-color: rgb(132, 182, 167);
} 

/* End of Experience Page */

/* Skills Page */

.skills-page_content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.skills-page_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 1px dashed #d3d3d3;
    border-radius: 5px;
    padding: 12px 7px;
    width: 120px;

    margin-right: 10px;
    margin-bottom: 10px;
}

.skills-page_item p {
    margin: 0;
    font-size: 14px;
    font-weight: 330;
}

.skills-icon {
    height: 40px;
    margin-bottom: 18px;
}
/* End Skills Page */

/* Interests Page */
.interests-page_content {
    display: flex;
    margin-bottom: 50px;
}

.interests-page_item {
    width: 350px;
    margin-right: 50px;
    margin-bottom: 50px;
    
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%), 0 31px 30px -18px rgb(0 0 0 / 16%);
}

.item-image {
    height: 400px;
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover;
}

#item-1 {
    background-image: url("../images/sandbox.png");
}

#item-2 {
    background-image: url("../images/stapl.jpg");
}

#item-3 {
    background-image: url("../images/robot.jpg");
}

.item_description {
    min-height: 54px;
    
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;

    margin: 0;
    padding: 20px 20px 30px 20px;

}
/* End of Interests Page */

/* Projects Page */
#carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    position: relative;

    margin-bottom: 100px;
}
  
.card {
    scroll-snap-align: start; 
    flex: 0 0 33.3333%;
}
  
.card-container {
    margin: 5%;

    margin-bottom: 50px;
    height: 370px; 

    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%), 0 31px 30px -18px rgb(0 0 0 / 16%);
}
  
#dots {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
  
.dot {
    height: 5px;
    width: 5px;
    margin: 0 5px;
    background-color: #e4e4e4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active {
    background-color: #858585;
}

.card-image {
    height: 250px;
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover;
}

.card_bottom-half {
    padding: 20px 15px;
}

.card_title {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}

.card_description {
    margin-top: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
}

#card-1 { background-image: url("../images/bots.png"); }
#card-2 { background-image: url("../images/scraper.png"); }
#card-3 { background-image: url("../images/arcade1.png"); }
#card-4 { background-image: url("../images/lexer.png"); }
#card-5 { background-image: url("../images/maze.png"); }
#card-6 { background-image: url("../images/pizza.png"); }
#card-7 { background-image: url("../images/hack.png"); }
#card-8 { background-image: url("../images/first2020.png"); }
#card-9 { background-image: url("../images/first2019.png"); }
#card-10 { background-image: url("../images/site.png"); }

.carousel-tools {
    margin-top: -100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.btn {
    background-color: #ebebeb;
    color: #111213;
    opacity: .5;

    width: 30px;
    height: 25px;

    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    
    cursor: pointer;
} 

.footer-info {
    text-align: center;
}

#copyright {
    font-size: 14px;
    font-weight: 300;
}

#switch {
    border: none;
    background-color: white;

    font-size: 14px;
    font-weight: 300;

    margin-bottom: 100px;
}


@media (max-width: 1100px) {
    .card {
        flex: 0 0 100%;
    }

    .interests-page_content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .interests-page_item {
        width: 95%; 
        margin-right: 0px;
    }

    .description {
       width: 90%;
    }

    .carousel-tools {
        margin-top: -130px;
    }
}

@media (max-width: 700px) {
    /* Home Page */
    .fa-solid {
        left: 500%;
        top: 85%;
        transform: translate(-500%, -85%);
        font-size: 15px;
    }
    
    #my-pic {
        width: 40px;
    }
    
    .fa-brands {
        font-size: 17px;
    }

    #info_welcome {
        font-size: 50px;
    }

    .info_description {
        font-size: 15px;
        font-weight: 250;   
    }

    #bottom_line {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .main-btn { 
        width: 148px;
        height: 32px;
    }

    .main-btn_container {
        width: 148px;
        height: 32px;
    }
    
    .main-btn_icon { 
        height: 15px;
        margin-left: 12px;
        margin-top: 9px;
        margin-right: 7px;
    }

    .main-btn_text {
        font-size: 15px;
        margin-top: 7px;
    }  
    /* End of Home Page */

    /* Experience Page */
    .experience-page {
        margin-top: -65px;
    }

    .title {
        font-size: 1.75em;
    }
    
    .description {
        font-size: 0.9em;
        font-weight: 300;
        width: 100%;
    }

    .item_icon {
        width: 16px;
    }
    
    .item-title {
        font-size: 13px;
    }

    .item-inner {
        display: flex;
        flex-direction: column;
    }

    .item-date { 
        width: 105px;
        padding: 3px 5px;
        margin-top: 1px;
    }

    .item-description {
        margin-top: 5px;
        font-size: 13px;
    }
 
    #resume-btn {
        width: 110px;
        height: 32px;
        margin-bottom: 70px;
    }
    
    #resume-btn_container {
        width: 110px;
        height: 32px;
    }
    
    #arrow { 
        margin-left: 5px;
        margin-top: 9px;
    }
    
    #resume-btn_text {
        margin-top: 6.5px;
    }  
    /* End of Experience Page */

    /* Skills Page */
    .skills-page_content { 
        margin-bottom: 70px;
    }
    /* End of Skills Page */
    
    /* Interests Page */
    .interests-page_item {
        width: 350px; 
        margin-bottom: 30px;
    }
    /* End of Interests Page */
    
    /* Projects Page */

    /* End of Projects Page */
}
   
/* End of Projects Page */

/* Dark Mode */
.dark-mode {
    background-color: rgb(17, 17, 17);
    color: white;
}

.dark-mode_cards {
    background-color: #292c2e;
}

/* End of Dark Mode */