body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Home Page */
.container {
    padding: 0;
    margin-top: -45px;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Nav */
nav {
    z-index: 1000;
}

.nav-link {
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding-top: 10px;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 300;
}

.collapse {
    justify-content: flex-end;
}
/* End of Nav */

#home-page_info {
    padding: 7%;
}

#info_welcome {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

#home-page_info p {
    font-size: 19px;
    font-weight: 200;
}

#info_description {
    margin-bottom: 0px;
}

#email-btn {
    color: #ffffff;
    background-color: rgb(62, 123, 226);
    padding: 8px 17px;
    width: 184px;
    border-radius: 20px;
}

#airplane {
    margin-bottom: 4px;
}

#email-btn a {
    text-decoration: none;
    
    color: inherit;
    background-color: inherit;
    border: 0;
    font-size: 1.1em;
    padding-left: 5px;
    cursor: pointer;
}

#email-btn:hover {
    cursor: pointer;
    background-color: rgb(132, 182, 167);
}
/* End of Home Page */

/* Contact Page */
#contact-form-container {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0 25%;
    margin-top: -45px;
}

.contact-form-text {
    width: 100%;
    margin: 2% 0;
    border: 0;
    border-bottom: 1px solid;
    background: white;
    padding: 15px 5px;
}

#contact-form__submit-btn {
    float: right;
    text-decoration: none;
    
    color: #000000;
    background-color: white;
    
    font-size: 1.15em;
    font-weight: 300;
    border: 0;
    
    cursor: pointer;
}

#contact-form__submit-btn:hover {
    color: gray;
}
/* End of Contact Page */

/* Projects */
#projects_container {
    margin-top: 1%;
    padding: 1%;
    padding-top: 0;
}

.projects_heading {
    margin-left: 30px;
}

.project-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    margin: 20px;
    width: 300px;
     
    margin-right: 2%;
    background: #F8F8F8; 
    border-radius: 20px;

	box-shadow: 11px 12px 15px rgba(0, 0, 0, 0.2)  ; 
}

.project-card img {
    border-radius: 20px 20px 0 0;  
    width: 100%;
}

.card_bottom-half { 
    border-radius: 0 0 20px 20px;  
    padding-bottom: 20px;
}

.card_title {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.card_description {
    margin-top: -15px;
    padding: 10px;
    padding-top: 0;

    font-size: 15px;
}
/* End of Projects */

/* Resume */

.resume-container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* End of Resume */

/* Reseponsive */
@media only screen and (max-width: 1430px){
    .project-card{ 
        flex-basis: 33%; 
    }

    #contact-form-container {
        margin: 0 10%;
    }

}

@media only screen and (max-width: 769px){
    .project-card {
        flex-basis: 50%; 
    }
}
  