/* General */
body {
    padding: 0;
    margin: 0; 
}

.dark-mode {
    background-color: rgb(17, 17, 17);
    color: white;
}
/* End of General */

/* Home Page */
.home-page {
    height: 100vh;
}

.home-page_upper-info {
    margin-top: 60px;
    width: 80%;
    
    position: relative;
    top: 0%;
    left: 50%;

    /* shifts or translate the center point (X, Y) by (X - 50% of outerWidth, Y - 50% of outerHeight) */
    transform: translate(-50%, 0%);
} 

#my-pic {
    width: 50px;
}

#icons {
    float: right;
    margin-top: 14px;
}

.fa-brands {
    font-size: 22px;
    color: #207de9;
}

.fa-linkedin-in {
    margin-right: 15px;
}

.home-page_main-info {
    position: relative;
    top: 37%;
    left: 0%;

    /* shifts or translate the center point (X, Y) by (X - 50% of outerWidth, Y - 50% of outerHeight) */
    transform: translate(0%, -37%);

    margin-left: 11%;
}

#info_welcome {
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    margin: 0;
}

.info_description {
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Open Sans, Helvetica Neue, sans-serif;
    font-weight: 150;

    margin-top: 5px;
}
 
#bottom_line {
    margin-top: -15px;
}

#email-btn {
    color: #ffffff;
    background-color: #207de9;
    
    width: 219px;
    height: 48px;
    
    border-radius: 5px;
}

#email-container {
    position: absolute;
    margin: 0;
    
    width: 219px;
    height: 48px;

    text-decoration: none;
}

#airplane { 
    float: left;
    height: 22px;
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 15px;
}

#email {
    color: white;
    font-size: 1.3em;

    margin-top: 12px;
}  

#email-btn:hover {
    cursor: pointer;
    background-color: rgb(132, 182, 167);
} 
 
.fa-solid {
    position: relative;
    top: 61%;
    left: 50%;

    /* shifts or translate the center point (X, Y) by (X - 50% of outerWidth, Y - 50% of outerHeight) */
    transform: translate(-50%, -61%);

    font-size: 25px;
}
/* End of Home Page */
